extends ../nav

block content
  include sidehospital

  <div class="col-8">
  <div class="card"  >
    <div class="card-header">
        h2=`Donors of ${donor.hospitalId}`
    </div>
    <div class="card-body">
      -if(hospitaldonors && hospitaldonors.length > 0)
         <table class="table">
          <thead class="black white-text">
            <tr>
              <th scope="col">SN</th>
              <th scope="col">Donor</th>
              <th scope="col">Organ</th>
              <th scope="col">Status</th>
              <th scope="col">Medical Details</th>
            </tr>
          </thead>
          <tbody>
            -let i = 0;
              each donorDetail in hospitaldonors
                <tr>
                  <th scope="row">#{++i}</th>
                  <td> <p><b>Name:</b> #{donorDetail.donor.firstName} #{donorDetail.donor.lastName}</p> 
                        <p><strong>Address:</strong> #{donorDetail.donor.address}</p>
                        <p><b>Gender:</b> #{donorDetail.donor.gender}</p>
                        <p><b>Contact No:</b> #{donorDetail.donor.contactNo}</p>
                  </td>
                  <td>#{donorDetail.organName}</td>
                  <td><button class="btn btn-outline-success waves-effect" disabled style="color:black;">#{donorDetail.status}</button></td>
                    -if(donorDetail.status === "TESTED" || donorDetail.status === "MATCHED" || donorDetail.status === "TRANSPLANT" )
                      <td>
                        a(data-index=`${i}` id ="testinfo" style="font-size:25px; color:blue;") View Details
                      </td>
                    -else
                      <td><h4>Not Tested</h4></td>
                  
                </tr>
                tr(id=`test-info${i}` style="display:none; font-size:20px;")
                  <td colspan="5" >
                    center
                      -if(donorDetail.organTestInfo)
                        h2=`Medical Details of ${donorDetail.donor.firstName} `
                        p=`BloodType: ${JSON.parse(donorDetail.organTestInfo).bloodType}`
                        p=`ProteinOne: ${JSON.parse(donorDetail.organTestInfo).proteinOne}`
                        p=`ProteinTwo: ${JSON.parse(donorDetail.organTestInfo).proteinTwo}`
                        p=`Doctor: ${donorDetail.doctor.split("#")[1].replace("%20"," ")}`
                  </td>
                </tr>
          </tbody>
            </table>
      -else
        h1 No Donors...
       

    </div>
  </div>
  </div>
  </div>
  </div>

  